{% extends 'pedidos/base.html' %}

{% block titulo %}Inicio — mandaditos.com{% endblock %}

{% block contenido %}
    <div class="seccion">
        <h2>Registrar</h2>
        <a href="{% url 'registrar_cliente' %}" class="btn">Cliente</a>
        <a href="{% url 'registrar_restaurante' %}" class="btn">Restaurante</a>
        <a href="{% url 'registrar_repartidor' %}" class="btn">Repartidor</a>
        <a href="{% url 'registrar_pedido' %}" class="btn">Pedido</a>
    </div>

    <div class="seccion">
        <h2>Gestionar</h2>
        <a href="{% url 'lista_clientes' %}" class="btn">Clientes</a>
        <a href="{% url 'lista_restaurantes' %}" class="btn">Restaurantes</a>
        <a href="{% url 'lista_repartidores' %}" class="btn">Repartidores</a>
        <a href="{% url 'lista_pedidos' %}" class="btn">Pedidos</a>
    </div>
{% endblock %}